.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
}

.featureSvg:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 996px) {
  .featureSvg {
    height: 120px;
    width: 120px;
  }
}